@model IEnumerable<MegaMenu.Models.Categories>

@if (Model.Count() > 0)
{
<ul class="sub-menu">
    @foreach (var item in Model)
    {
    <li>
        <a href="#">@item.Name</a>
        @Html.Action("LoadChild", "Home", new { parentId = item.Id })
    </li>

    }
</ul>
}

